* {
    box-sizing: border-box;
}
body {
    background: linear-gradient(#f9f6f2, #e0e5eb);
}

/* header */
header {
    background-color: #f9f6f2;
    border: 1px solid black;
    border-top: none;
    position: fixed !important;
    top: 0px !important;
    width: 80vw;
    margin: 0 10vw;
    transition: 0.4s;
    z-index: 10 !important;
    color: black !important;
}
.navbar, .navbar >a{
    padding:2px !important;
}
/* logo */
header a > img {
    width: auto;
    max-height: 18vh;
    transition: 0.4s;
    position:relative;
    top:0;
    padding-left:1vw;
}
/* nav items */
header ul{
    display:flex;
    margin: 0 3vw 0 0;
}
header ul .nav-item {
    display: flex;
    margin: 0 1vw 0 1vw;
    letter-spacing: 0.15em;
    font: bold 14px/1.4 'Open Sans', arial, sans-serif;
    position:relative;
    font-size:0.9em;
}
/* hover effect for the nav items*/
header ul .nav-item:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: green;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
header ul .nav-item:hover:after {
    width: 100%;
    left: 0;
}

/* main */
main {
    position: relative;
    margin: 0 10vw;
    width:80vw;
    text-align: center;
    top: 18vh;
    bottom:550px;
    z-index: 1 !important;
}

/* footer */
footer {
    display: block;
    border: 1px solid black;
    width: 100vw !important;
    margin: 20vh 0 0 0;
    padding: 0 10vw 0 5vw;
    bottom: 0 !important;
    background-color: black;
    color: white !important;
    z-index:1000 !important;
}
footer ul{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    padding-top: 1%;
}
footer a{
    color: white !important;
    text-decoration:underline !important;
    text-decoration-color:white !important;
    text-underline-offset:3px;
}

/* pulsing for list */
ul {
    font: calc(1rem + 4vmin) "Rubik Moonrocks";
    list-style: none;
    font-size:1.2em;
}
ul.pulsing > li::before {
    content: "⚙️";
    transform: scale(0.2);
    display: inline-block;
    animation: pulse infinite alternate 0.9s;
}
ul.pulsing > li:nth-child(1)::before {
        animation-delay: 0s;
    }
ul.pulsing > li:nth-child(2)::before {
        animation-delay: -0.2s;
    }
ul.pulsing > li:nth-child(3)::before {
        animation-delay: -0.4s;
    }
ul.pulsing > li:nth-child(4)::before {
        animation-delay: -0.6s;
    }
ul.pulsing > li:nth-child(5)::before {
        animation-delay: -0.8s;
    }
ul.pulsing > li:nth-child(6)::before {
        animation-delay: -1s;
    }
ul.pulsing > li:nth-child(7)::before {
        animation-delay: -1.2s;
    }
ul.pulsing > li:nth-child(8)::before {
        animation-delay: -1.4s;
    }
ul.pulsing > li:nth-child(9)::before {
        animation-delay: -1.6s;
    }
ul.pulsing > li:nth-child(10)::before {
        animation-delay: -1.8s;
    }
@keyframes pulse {
    to {
        transform: scale(0.3);
    }
}
@keyframes pulse {
  to {
    transform: scale(0.69);
  }
}



/* reveal effect*/
.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}