* {
    box-sizing: border-box;
}
body {
    background-color: #f5f5f5;
}

header {
    background-color: inherit;
    border-bottom: 1px solid black;
    position: fixed !important;
    top: 0px !important;
    width: 96vw;
    margin: 0 1vw;
    padding: 12px 0px;
    transition: 0.4s;
    z-index: 10 !important;
}

/* logo */
header a > img {
    width: auto;
    max-height: 50px;
    margin-left: 15px;
    transition: 0.4s;
    position:fixed;
    top:5px;
}
/* nav items */
header ul{
    display:flex;
    margin: 0 3vw 0 0;
}
header ul .nav-item {
    display: flex;
    margin: 0 1vw 0 1vw;
    letter-spacing: 0.15em;
    font: bold 14px/1.4 'Open Sans', arial, sans-serif;
    position:relative;
    font-size:0.9em;
}
/* hover effect for the nav items*/
header ul .nav-item:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: black;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
header ul .nav-item:hover:after {
    width: 100%;
    left: 0;
}

main {
    position:relative;
    margin: 0 10vw;
    text-align:center;
    top:18vh;
    z-index:1 !important;
}
.mainPageArticle {
    background-color: #e6e6e6;
    min-height: 40vh;
    width: 100%;
    margin: 50px 0;
    padding: 20px 20px;
    border-radius: 10px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
}
.textContainer {
    display: inline-block;
    color:black;
}
.textContainer h1{
    text-align: center;
}
.textContainer p{
    font: 14px/1.4 'Open Sans', arial, sans-serif;
    text-align: left;
}
.imgContainer {
    display: flex;
    justify-content: flex-end;
}
.imgContainer > img{
    margin: auto;
    object-fit: cover;
    object-position: 100% 0;
    width: 0;
    height: 200px;
    animation: reveal 1s;
	animation-fill-mode: forwards;
    border-radius:10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    opacity:70%;
}
@keyframes reveal {
    100% {
        width: 100%;
    }
}
.aboutPageArticle {
    padding: 20px 20px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 25px 0;
}
.aboutPageArticle *{
    color: black;

}
.aboutPageArticle ul {
    text-align: left;
}
footer {
    display: block;
    border: 1px solid black;
    width: 100vw !important;
    margin: 150px 0 0 0;
    padding: 0 10vw 0 5vw;
    bottom: 0;
    background-color: black;
    color: white !important;
    z-index:1000 !important;
}
footer p{

}
footer a{
    color: white !important;
    text-decoration:underline !important;
    text-decoration-color:white !important;
    text-underline-offset:3px;
}
