{% extends 'TheApp/base.html' %}


{% block mainBodyContent %}
{{content}}

<article class="aboutPageArticle">
    <div class="textContainer">
        <h1>Areas Of Work</h1>
        <p>
            The company has the technical capabilities and full experience to implement various engineering and processing activities. This is through its experience in the following fields:
            <ul>
                <li>
                    Supplying various types of electrical and mechanical equipment.
                </li>
                <li>
                    Evaluating bids and preparing contracts.
                </li>
                <li>
                    Field supervision.
                </li>
                <li>
                    Starting operations in an integrated manner, including training specialized personnel.
                </li>
                <li>
                    Providing various engineering services.
                </li>
                <li>
                    Implementing modern systems.
                </li>
            </ul>
        </p>
    </div>
</article>

<article class="aboutPageArticle">
    <div class="textContainer">
        <h1>What makes us unique</h1>
        <p>
            <ul>
                <li>Availability of highly experienced managers in the required specializations.</li>
                <li>Balance between internal and external resources.</li>
                <li>Approving local and external training courses for engineering and personnel management.</li>
                <li>Ensuring the selection of the best cadres to work in the company.</li>
                <li>Contracting with consultants and subcontractors with high experience in completing projects.</li>
                <li>Flexibility in adopting customer standards and methods of work.</li>
                <li>Follow up and program changes based on project requirements.</li>
                <li>Providing a quick and positive response to client requirements.</li>
                <li>Adopting quality software update QA-QC.</li>
                <li>Adopting safety programs.</li>
                <li>Respecting commitments to customers.</li>
                <li>Dealing with full responsibility during the post-processing care period.</li>
            </ul>
        </p>
    </div>
</article>

<article class="aboutPageArticle">
    <div class="textContainer">
        <h1>Quality Control</h1>
        <p>
            In carrying out its activities, Future Solutions Company 
            is committed to continuous work in accordance with the 
            highest quality standards, by adopting and implementing 
            the latest quality management and monitoring systems, 
            in a manner consistent with the blending of the 
            expertise of our local staff with international 
            standards for ISO operations. The blending of the 
            expertise of our local staff with the foreign expertise
            that we worked with contributed to this, which enhanced 
            the company's efficiency in all its technical aspects,
            starting from the design department and the 
            implementation department, where all our projects 
            were subject to the application of the International 
            Building Code (IBC), Mechanical (IMC) and Electrical 
            (IEC) in addition to Iraqi codes such as Iraqi Building 
            Code Requirements for Reinforced Concrete, as well as 
            Iraqi Standards for Construction Materials. Moreover, 
            the company has sought to train and qualify its staff to 
            enable them to work in accordance with quality management
            requirements, and to increase the efficiency and 
            effectiveness of operational activities, by By enrolling
            its engineers and technicians in the latest relevant 
            training courses, such as comprehensive quality 
            management courses, PMP project management courses, 
            occupational safety courses, environmental suitability 
            courses, and other technical and technical courses.
        </p>
    </div>
</article>

{% endblock mainBodyContent %}
