{% extends 'TheApp/base.html' %}

{% block mainBodyContent %}
<link rel="stylesheet" href="static/aboutStyle.css">

<article class="aboutPageArticle">
    <div class="textContainer">
        <h1>What Makes Us Unique</h1>
        <p>
            <ul class="pulsing">
                <li>Availability of highly experienced managers in the required specializations.</li>
                <li>Approving local and external training courses for engineering and personnel management.</li>
                <li>Ensuring the selection of the best cadres to work in the company.</li>
                <li>Contracting with consultants and subcontractors with high experience in completing projects.</li>
                <li>Providing a quick and positive response to client requirements.</li>
                <li>Adopting quality software update QA-QC.</li>
                <li>Adopting safety programs.</li>
                <li>Respecting commitments to customers.</li>
                <li>Dealing with full responsibility during the post-processing care period.</li>
            </ul>
        </p>
    </div>
</article>

<article class="aboutPageArticle" style="background-color: #ffffff">
    <h1>Quality Control</h1>
    <p>
        In carrying out its activities, Future Solutions Company is dedicated to continuous operations aligned with the highest quality standards. We adopt and implement cutting-edge quality management and monitoring systems, blending the expertise of our local staff with international ISO standards. This collaboration with foreign experts has significantly enhanced the company's efficiency across all technical aspects. Our projects, spanning design and implementation departments, strictly adhere to the International Building Code (IBC), Mechanical (IMC), and Electrical (IEC). We also follow Iraqi codes like the Building Code Requirements for Reinforced Concrete and Iraqi Standards for Construction Materials.
        <br />
        Furthermore, the company prioritizes staff training for compliance with quality management requirements, aiming to boost operational efficiency. Engineers and technicians are enrolled in the latest training courses, covering comprehensive quality management, PMP project management, occupational safety, environmental suitability, and other relevant technical topics.
    </p>
</article>
<article class="aboutPageArticle gridContainer">
    <div>
        <h3>Administrative</h3>
        <p>
            Rigorous training of our new employees in the areas of health, safety and environment.
            Using very precise and specific tools.
            Conducting annual training to refresh our employees' knowledge in the areas of health, safety and environment.
            Providing an engineering department specialized in safety work, in addition to safety inspectors present in the project.

        </p>
    </div>
    <div>
        <h3>Executive</h3>
        <p>
            Communicating our core values through implementing the global standards HASP health and safety system
            Integrating our cultural commitment to health, safety and environment into all of our company's work.
        </p>
    </div>
    <div>
        <h3>During Work</h3>
        <p>
            Providing checked personal safety equipment.
            Focus on the safety of electrical appliances, scaffolding, ladders, and excavations in the project.
            Stop work if unsafe conditions exist.
            Routine review of the work and safety plan.
            Submitting daily reports by the safety department.
        </p>
    </div>
</article>

{% endblock mainBodyContent %}
