{% extends 'TheApp/base.html' %}


{% block mainBodyContent %}
<link rel="stylesheet" href="static/galleryStyle.css">

<div class="gallery">
    <div class="gallery-item">
        <img src="/static/pics/1.jpg" alt="Image 1">
    </div>
    <div class="gallery-item">
        <img src="/static/pics/2.jpg" alt="Image 2">
    </div>
    <div class="gallery-item">
        <img src="/static/pics/3.jpg" alt="Image 3">
    </div>
    <div class="gallery-item">
        <img src="/static/pics/4.png" alt="Image 4">
    </div>
    <div class="gallery-item ">
        <img src="/static/pics/5.png" alt="Image 5">
    </div>
    <div class="gallery-item ">
        <img src="/static/pics/6.png" alt="Image 6">
    </div>
    <div class="gallery-item ">
        <img src="/static/pics/7.png" alt="Image 7">
    </div>
    <div class="gallery-item reveal">
        <img src="/static/pics/8.png" alt="Image 8">
    </div>
    <div class="gallery-item reveal">
        <img src="/static/pics/9.png" alt="Image 9">
    </div>
    <div class="gallery-item reveal">
        <img src="/static/pics/10.png" alt="Image 10">
    </div>
    <div class="gallery-item reveal">
        <img src="/static/pics/11.png" alt="Image 11">
    </div>
    <div class="gallery-item reveal">
        <img src="/static/pics/12.png" alt="Image 12">
    </div>
    <div class="gallery-item reveal">
        <img src="/static/pics/13.png" alt="Image 13">
    </div>
    <div class="gallery-item reveal">
        <img src="/static/pics/14.jpg" alt="Image 14">
    </div>
    <div class="gallery-item reveal">
        <img src="/static/pics/15.jpg" alt="Image 15">
    </div>
    <div class="gallery-item reveal">
        <img src="/static/pics/16.png" alt="Image 16">
    </div>
    <div class="gallery-item reveal">
        <img src="/static/pics/17.jpg" alt="Image 17">
    </div>
    <div class="gallery-item reveal">
        <img src="/static/pics/18.jpg" alt="Image 18">
    </div>
    <div class="gallery-item reveal">
        <img src="/static/pics/19.jpg" alt="Image 19">
    </div>
    <div class="gallery-item reveal">
        <img src="/static/pics/20.jpg" alt="Image 20">
    </div>
    <div class="gallery-item reveal">
        <img src="/static/pics/21.jpg" alt="Image 21">
    </div>
    <div class="gallery-item reveal">
        <img src="/static/pics/22.jpg" alt="Image 22">
    </div>
    <div class="gallery-item reveal">
        <img src="/static/pics/23.jpg" alt="Image 23">
    </div>
    <div class="gallery-item reveal">
        <img src="/static/pics/24.jpg" alt="Image 24">
    </div>
    <div class="gallery-item reveal">
        <img src="/static/pics/25.jpg" alt="Image 25">
    </div>
    <div class="gallery-item reveal">
        <img src="/static/pics/26.jpg" alt="Image 26">
    </div>
    <div class="gallery-item reveal">
        <img src="/static/pics/27.png" alt="Image 27">
    </div>
    <div class="gallery-item reveal">
        <img src="/static/pics/28.png" alt="Image 28">
    </div>
    <div class="gallery-item reveal">
        <img src="/static/pics/29.png" alt="Image 29">
    </div>
    <div class="gallery-item reveal">
        <img src="/static/pics/30.png" alt="Image 30">
    </div>
    <div class="gallery-item reveal">
        <img src="/static/pics/31.png" alt="Image 31">
    </div>
</div>

{% endblock mainBodyContent %}
