{% extends 'TheApp/base.html' %}


{% block mainBodyContent %}
{{content}}


<article class="aboutPageArticle">
    <div class="textContainer">
        <h1>What makes us unique</h1>
        <p>
            <hr />
            <h3>Administrative:</h3>
            Rigorous training of our new employees in the areas of health, safety and environment.
            Using very precise and specific tools.
            Conducting annual training to refresh our employees' knowledge in the areas of health, safety and environment.
            Providing an engineering department specialized in safety work, in addition to safety inspectors present in the project.
            <hr />
            <h3>Executive:</h3>
            Communicating our core values through implementing the global standards HASP health and safety system
            Integrating our cultural commitment to health, safety and environment into all of our company's work.
            <hr />
            <h3>During work:</h3>
            Providing checked personal safety equipment.
            Focus on the safety of electrical appliances, scaffolding, ladders, and excavations in the project.
            Stop work if unsafe conditions exist.
            Routine review of the work and safety plan.
            Submitting daily reports by the safety department.
        </p>
    </div>
</article>
{% endblock mainBodyContent %}
