{% extends 'TheApp/base.html' %}


{% block mainBodyContent %}
{{content}}
<article class="mainPageArticle">
    <div class="textContainer">
        <h1>Who are we?</h1>
        <p>
            Future Solutions was established in 2006 and is headquartered in Iraq.
        </p>
    </div>
    <div class="imgContainer">
        <img src='static/mainPage_1.jpg' class='alligator-turtle' />
    </div>
</article>

<article class="mainPageArticle">
    <div class="textContainer">
        <h1>Our Mission</h1>
        <p>
            To become the leader in the region as an electrical contracting company and an approved provider for various markets (including the industrial and construction sectors) by providing the latest products and technologies and thus playing an important role in driving development in the region as a whole
        </p>
    </div>
    <div class="imgContainer">
        <img src='static/mainPage_2.jpg' class='alligator-turtle' />
    </div>
</article>

<article class="mainPageArticle">
    <div class="textContainer">
        <h1>Our Vision</h1>
        <p>
            Achieving the highest level of customer satisfaction, we are determined to have the highest level of flexibility through our certified products and services
        </p>
    </div>
    <div class="imgContainer">
        <img src='static/mainPage_3.png' class='alligator-turtle' />
    </div>
</article>

{% endblock mainBodyContent %}
