{% extends 'TheApp/base.html' %}


{% block mainBodyContent %}
{% load static %}
<link rel="stylesheet" href="static/projectsStyle.css">

<div class="timeline">
    <div class="projectsContainer left">
        <div class="content">
            <h2>2007</h2>
            <h4>Supplying equipments and pipes</h4>
            <p><b>Beneficiary:</b> Dubai Co. and UNOPS</p>
            <p><b>Contract value:</b> 95,500 USD</p>
        </div>
    </div>
    <div class="projectsContainer right">
        <div class="content">
            <h2>2008</h2>
            <h4>Supplying medical gas system</h4>
            <p><b>Beneficiary:</b> Sarah Co. and UNDP</p>
            <p><b>Contract value:</b> 102,000 USD</p>
        </div>
    </div>
    <div class="projectsContainer left">
        <div class="content">
            <h2>2012</h2>
            <h4>Supplying cables</h4>
            <p><b>Beneficiary:</b> South Refineries Co.</p>
            <p><b>Contract value:</b> 3,449,525 USD</p>
        </div>
    </div>
    <div class="projectsContainer right">
        <div class="content">
            <h2>2012</h2>
            <h4>Spare parts PLS for boilers </h4>
            <p><b>Beneficiary:</b> South Refineries Co.</p>
            <p><b>Contract value:</b> 127,460 EUR</p>
        </div>
    </div>
    <div class="projectsContainer left">
        <div class="content">
            <h2>2012</h2>
            <h4>Electrical Equipments</h4>
            <p><b>Beneficiary:</b> South Refineries CO.</p>
            <p><b>Contract value:</b> 895,000 USD</p>
        </div>
    </div>
    <div class="projectsContainer right">
        <div class="content">
            <h2>2013</h2>
            <h4>Supplying electrical materials for polyethylene straight joints  </h4>
            <p><b>Beneficiary:</b> South Refineries CO.</p>
            <p><b>Contract value:</b> 559,145 GBP</p>
        </div>
    </div>

    <div class="projectsContainer left">
        <div class="content">
            <h2>2013</h2>
            <h4>Supplying cables</h4>
            <p><b>Beneficiary:</b> General directorate of electrical energy transmission / south</p>
            <p><b>Contract value:</b> 178,000,000 IQD</p>
        </div>
    </div>
    <div class="projectsContainer right">
        <div class="content">
            <h2>2014</h2>
            <h4>Supplying electrical cables</h4>
            <p><b>Beneficiary:</b> South Refineries CO.</p>
            <p><b>Contract value:</b>1,275,000,000 IQD</p>
        </div>
    </div>
    <div class="projectsContainer left">
        <div class="content">
            <h2>2017</h2>
            <h4>33 KV. SWITCH GEAR</h4>
            <p><b>Beneficiary:</b> General directorate of electrical energy transmission / south</p>
            <p><b>Contract value:</b>3,150,000 USD</p>
        </div>
    </div>
</div>


{% endblock mainBodyContent %}
